body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    width: 1650px; 
    height: 895px; 
    position: relative;
    background-image: url('./Images/IMLC-Map.svg'); 
    background-size: cover;
    margin: 0 auto;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,0.5) 1px, transparent 1px);
    background-size: 218.4px 120px; 
}

.marker {
    width: 40px; 
    height: 40px; 
    background-color: rgb(128, 0, 77);
    opacity: 0.75; /* Set to 75% opacity */
    position: absolute;
    border-radius: 50%; /* Makes the div circular */
    display: flex; /* Enables flexbox for centering inner content */
    justify-content: center; /* Horizontally centers the child text */
    align-items: center; /* Vertically centers the child text */
    color: white; /* Text color, change as needed */
    font-size: 12px; /* Adjust the font size as needed */
}

.marker-text {
    color: white;
}

.grid-line {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); 
}

.horizontal {
    width: 100%;
    height: 1px; 
}

.vertical {
    height: 100%;
    width: 1px; 
}

